#page-modules {
    padding-bottom: 55px;
    header {
        padding: 24px;
        background: #00aeff;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                max-height: 55px;
            }

            button {
                background: #00aeff;
                border: 1px solid white;
            }
        }
    }

    main {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    
        .modules-title {
            margin: 42px 0 24px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            
            h1 {
                font: 500 32px 'Poppins', sans-serif;
                color: #29292e;
            }

            p {
                font: 500 20px 'Roboto', sans-serif;
                color: #00aeff;
            }
        }

        .modules-content {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            gap: 38px;

            cursor: pointer;

            transition: filter 0.2s;
        }

        .modules-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid #00aeff;
            border-radius: 15px;
            padding: 15px;
            width: 340px;
            height: 100px;

            &:hover {
                filter: brightness(0.8);
            }
            
            .modules-icon {
                background: #00aeff; 
                border-radius: 12px;
                padding: 12px;
                margin-right: 12px;

                svg {
                    font-size: 25px;
                    color: #FFF;
                }
            }
            
            .modules-info {
                
                h1 {
                    font: 500 20px 'Roboto', sans-serif;
                    color: #00aeff;
                }

                p {
                    font: 500 16px 'Roboto', sans-serif;
                }
            }
        }

        .aulas-title {
            margin: 42px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font: 500 32px 'Poppins', sans-serif;
                color: #29292e;
            }

            p {
                font: 500 20px 'Roboto', sans-serif;
                color: #00aeff;
            }

            .aulas-icon {
                background: #00aeff; 
                border-radius: 12px;
                padding: 20px;
                margin-right: 12px;

                svg {
                    font-size: 30px;
                    color: #FFF;
                }
            }
        }

        .aulas-content {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 55px;

            transition: filter 0.2s;
        }

        .aulas-wrapper {
            width: 328px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 35px;
            border: 1px solid #00aeff;
            border-radius: 20px;
            

            
            img {
                margin: 0 auto;
                width: 250px;
                height: 140px;
                border-radius: 5px;
            }
            
            h1 {
                margin: 10px 0;
                font: 500 26px 'Roboto', sans-serif;
                color: #00aeff;
                text-overflow: clip;
            }

            p {
                font: 300 16px 'Roboto', sans-serif;
                margin: 10px 0;
                line-height: 1.5;
                text-align: justify;
                color:#29292e;
            }

            &:hover {
                filter: brightness(0.8);
            }

        }
    }
}